@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset style */
* {
    margin: 0;
    padding: 0;
}

/* General style for every sections */
body {
    font-family: Roboto, sans-serif;
}

.hero,
.information {
    padding-left: 290px;
    padding-right: 290px;
}

/* Hero section */
.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 150px;
}

.logo {
    font-size: 28px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
}

.main {
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.main-left {
    width: 450px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text,
a,
button {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: 600;
}

.main-button {
    border-color: #3882F6;
    border: 1px solid #3882F6;
    margin-top: 8px;
}

.main-right {
    background-color: #6D747D;
    color: #F9FAF8;
    width: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Information section */
.information {
    background-color: white;
    padding-bottom: 150px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-top: 57px;
    padding-bottom: 57px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.info {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.info-img {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.info-text {
    width: 150px;
    text-align: center;
    color: #4B5563;
}


/* Quote section */
.quote {
    background-color: #E5E7EB;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    width: 830px;
}

.quote-author {
    font-weight: bolder;
    width: 750px;
    display: flex;
    justify-content: flex-end;
}


/* Sign up section */
.sign-container {
    padding: 100px 0;
    display: flex;
    justify-content: space-evenly;
}

.sign {
    background-color: #3882F6;
    padding: 44px 176px;
    border-radius: 8px;
    display: flex;
    gap: 280px;
}

.sign-header {
    font-size: 22px;
    color: #F9FAF8;
}

.sign-text {
    color: #F9FAF8;
}

.sign-button {
    border: 1px solid #F9FAF8;
}


/* Footer section */
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.footer-text {
    color: #F9FAF8;
    padding: 30px 0;
}